<!DOCTYPE html>
<html lang="en">
    <head>
        {{render_partial('shared/partials/metadata.html')}}
        <title>
            Home | LocalFinds
        </title>
    </head>
    <body>
        <header>
            {{render_partial('shared/partials/header.html')}}
        </header>
        <main>
            <table class="previewhost">
                <thead>
                    <th>Newest Finds:</th>
                </thead>
                <tbody class="previewcontainer">
                    {% for post in posts %}
                    <tr class="preview">
                        {{ render_partial('shared/partials/post_view.html', post=post) }}
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">No posts yet.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer>
            {{render_partial('shared/partials/footer.html')}}
        </footer>
        
    </body>
</html>